extends layout

block content
  div.site-wrapper
    div.site-wrapper-inner
      div.cover-container
        div
          div.inner
            h3.masthead-brand
              img(src='/images/logo.png', alt='Logo', style='height:96px;')
            nav
              ul.nav.masthead-nav
                li.active
                  a(href='/') Home
                li
                  a(href='/results') Results
        div.inner.cover
          h1.cover-heading Football gossip
          p.lead
          if data
            p.lead Loading...
              div.myProgress(id='myProgress')
                div.myBar(id='myBar')
              p(id='status') Connecting to database...
          else
            p.lead Gossip is more popular than literature
            p.lead
              button.btn.btn-lg.btn-default.option(id='button-player', onclick='toggleSearch(this.id)')
                |  #[span.fa.fa-user]
                |  Player
              button.btn.btn-lg.btn-default.option(id='button-team', onclick='toggleSearch(this.id)')
                |  #[span.fa.fa-users]
                |  Team
              button.btn.btn-lg.btn-default.option(id='button-author', onclick='toggleSearch(this.id)')
                |  #[span.fa.fa-pencil-square-o]
                |  Author
            form.search(id='search', onsubmit='return validateForm()')
              input.hide(id='player', type='text', name='player', placeholder='Player...')
              input.hide(id='playerToTeam', type='text', name='playerToTeam', onclick='toggleOperand(this.id)' readonly)
              input.hide(id='authorToPlayer', type='text', name='authorToPlayer', onclick='toggleOperand(this.id)' readonly)
              input.hide(id='team', type='text', name='team', placeholder='Team...')
              input.hide(id='teamToAuthor', type='text', name='teamToAuthor', onclick='toggleOperand(this.id)' readonly)
              input.hide(id='author', type='text', name='author', placeholder='Author...')
              label.hide(id='searchOption')
                input(id='database', type='checkbox', name='database', value='true') 
                |  Only Database
              input.hide(id='submit', type='submit' value='Search')
        div
          div.inner
            include footer

block script
  script(src='/js/index.js')
