extends layout

block content
  div.site-wrapper
    div.site-wrapper-inner
      div.cover-container
        div.masthead.clearfix
          div.inner
            h3.masthead-brand Logo
            nav
              ul.nav.masthead-nav
                li.active
                  a(href='#') Home
                li
                  a(href='/trends') Trends
                li
                  a(href='#') Todo

        div.inner.cover
          h1.cover-heading Football gossip
          p.lead
          p.lead Gossip is more popular than literature
          p.lead 
              button.btn.btn-lg.btn-default.option(id='option-player', onclick="toggleSearch(this.id)")
                |  #[span.fa.fa-user]
                |  Player
              button.btn.btn-lg.btn-default.option(id='option-team', onclick="toggleSearch(this.id)")
                |  #[span.fa.fa-users]
                |  Team
              button.btn.btn-lg.btn-default.option(id='option-author', onclick="toggleSearch(this.id)")
                |  #[span.fa.fa-pencil-square-o]
                |  Author
          form.search(id='search', onsubmit='return validateForm()')
            input.hide(id='option-player', type='text', name='player', placeholder='Player...')
            input.hide(id='option-team', type='text', name='team', placeholder='Team...')
            input.hide(id='option-author', type='text', name='author', placeholder='Author...')
            input(type='submit' style='display: none')
        div.mastfoot
          div.inner
            p The University of Sheffield

block script
  script(src='/js/index.js')
