extends layout

block content
  div.site-wrapper
    div.site-wrapper-inner
      div.cover-container
        div.masthead.clearfix
          div.inner
            h3.masthead-brand Logo
            nav
              ul.nav.masthead-nav
                li
                  a(href='/') Home
                li.active
                  a(href='/trends') Trends
                li
                  a(href='#') Todo
                li
                  a(href='/output') Search

        div.inner.cover
          h1.cover-heading Trends
            //if data
            //  table
            //    thead
            //      tr
            //        th Date
            //        th Frequency
            //    tbody
            //      each count, i in data.lwCount
            //        tr
            //          td= data.lwDate[i]
            //          td= count
            p
            if data
              canvas#myChart(width='400', height='400')
            else
              p.lead Try search for something
        div.mastfoot
          div.inner
            include footer

block script
  script(src='/js/chart.js')
  if data
    script.
      var lwCount =!{JSON.stringify(data.lwCount)};
      var lwDate =!{JSON.stringify(data.lwDate)};
    script(src='/js/trends.js')
