/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../images/splash.jpg) no-repeat right bottom fixed; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    color: #fff;
    width:100%;
    height:100%;
    background-size:cover;
}

.app #home_page {
    text-align:center;
}

.app #results_page a {
    padding: 20px 20px 0px 0px;
}

.app h1 {
  padding:50px 0px 0px 0px;
}

.form-layout {
    color:#000;
    padding: 10px 0px 0px 0px;
}

.search-form {
  color: #000;
  font-size: 16px;
}
.search-form input[type=text] {
  width: 75%;
  box-sizing: border-box;
  border: 3px solid #333;
  background-color: #fff;
  background-size: 25px;
  background-image: url(../images/searchicon.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.search-form input[type=text]:focus {
  width: 90%;
}
.search-form input[type=text].optional {
  border: 3px solid #ccc;
}
.search-form input#playerToTeam,
.search-form input#authorToPlayer,
.search-form input#teamToAuthor,
.search-form label#searchOption,
.search-form input[type=submit] {
  background: #ccc;
  border: 3px solid #333;
  cursor:pointer;
  text-align: center;
  padding: 12px 2px;
  margin: auto;
}
.search-form input#playerToTeam,
.search-form input#authorToPlayer,
.search-form input#teamToAuthor {
  width: 50px;;
}
.search-form input[type=submit] {
  width: 75px;
  font-weight:700;
}
.search-form input#database{
  margin:0px;
}
.search-form label#searchOption {
  font-weight: 100;
  text-shadow: none;
}
#myProgress {
  width: 60%;
  margin: auto;
  background-color: #ddd;
  border-radius: 10px;
  border: 3px solid #333;
  box-shadow: 2px 2px 10px #333;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
  border-radius: 5px;
}

.search-results {
  font-size: 18px;
  text-align: left;
  color: #333;
  padding: 20px;
  border: 2px solid #630015;
  background-color: rgba(255,255,255,.9);
}
.search-results thead tr{
  cursor: pointer;
  border: 2px solid #630015;
}
.search-results thead th.sorting{
  background: url(../images/sort_both.png) no-repeat right;
}
.search-results thead th.sorting_asc{
  background: url(../images/sort_asc.png) no-repeat right;
}
.search-results thead th.sorting_desc{
  background: url(../images/sort_desc.png) no-repeat right;
}
.search-results tbody tr{
  border-top: 2px solid #efb7c2;
}
.search-results tbody tr:hover{
  background-color: rgba(94,72,76,.1);
}
.search-results tbody td.sorting_1{
  background-color: rgba(94,72,76,.1);
}
.search-results a{
  color: #333;
}
.search-results a:hover,
.search-results a:focus{
  text-decoration: none;
}
.search-results th,
.search-results td{
  padding: 10px;
}
.search-results th:focus{
  outline: none;
  text-decoration: none;
}
.search-results .author{
  width: 20%;
}
.search-results .screenname{
  color: #691727;
}
.search-results .tweet{
  width: 60%;
}
.search-results .date{
  width: 20%;
}
.dataTables_paginate a:hover,
.dataTables_paginate a:focus{
  outline: none;
  text-decoration: none;
}
.paginate_button{
  cursor: pointer;
  color: #efb7c2;
  font-size: 24px;
  padding: 10px;
}
.paginate_button.current{
  color: #fff;
}
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/* loading page */

#myProgress {
  width: 60%;
  margin: auto;
  background-color: #ddd;
  border-radius: 10px;
  border: 3px solid #333;
  box-shadow: 2px 2px 10px #333;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
  border-radius: 5px;
}